<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="info.gamlor.akkamobile"
          android:versionCode="1"
          android:versionName="1.0"
          android:debuggable="true">
    <uses-sdk android:minSdkVersion="10"/>
    <!-- Of course it's silly to have the project test itself. However for now it's just fine -->
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="info.gamlor.akkamobile"
                     android:label="Tests for info.gamlor.akkamobile"/>

    <permission android:name="info.gamlor.akkamobile.permission.C2D_MESSAGE" android:protectionLevel="signature"/>

    <uses-permission android:name="info.gamlor.akkamobile.permission.C2D_MESSAGE"/>
    <uses-permission
            android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application android:name=".MyApplication" android:label="@string/app_name" android:icon="@drawable/icon"
                 android:debuggable="true">
        <uses-library android:name="android.test.runner"/>
        <activity android:name="AkkaDroidApp"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".DispatchToAkka"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="info.gamlor.akkamobile"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="info.gamlor.akkamobile"/>
            </intent-filter>
        </receiver>
    </application>
</manifest> 
